{% extends "layout.njk" %}
    
    {% block title %}
        <title>Foodfy - {{dishes.title}}</title>
    {% endblock title %}

    {% block style %}
        <link rel="stylesheet" href="recipe.css">
    {% endblock style %}

    {% block menu %}
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
        </div>
    {% endblock menu %}
       
    {% block contents %}
        <div class="banner">
        
                
                    <div class="foto">
                        <img src="{{dishes.image}}" alt="">
                    </div>
                    <div class="dishName">
                        <h1>{{dishes.title}}</h1>
                    </div>
                    <div class="author">
                        <p>por {{dishes.author}}</p>
                    </div>
        </div>
        
        <div class="dish-info">
            <div class="ingredients">
                <div class="title">
                    <h3>Ingredientes</h3>
                    <a>ESCONDER</a>
                </div>
                
                <div class="list">
                    <ul>
                        {% for ingredient in dishes.ingredients%}
                        <li>{{ingredient}}</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

            <div class="prepare">
                <div class="title">
                <h3>Modo de preparo</h3><a>MOSTRAR</a>
                </div>
                {% for line in dishes.preparation %}
                <p>{{line}}</p>   
                {% endfor %}
            </div>

            <div class="info">
                <div class="title">
                <h3>Informações adicionais</h3><a>ESCONDER</a>
                </div>
                
                <p>{{dishes.information}}</p>   
               
            </div>
        </div>

    {% endblock contents %}

    

    {% block script %}
        <script src="/script.js"></script>
    {% endblock script %}
